

* {
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
	margin: 0;
	padding: 0;
	outline: none;
}

body {
	align-items: center;
	background: #f2f2f2;
	display: flex;
	justify-content: center;
	min-height: 100vh;
	overflow: hidden;
}

.container {
	color: #555;
	height: 500px;
	max-width: 600px;
	padding: 50px;
	position: relative;
	width: 100%;
}

.container .content {
	display: none;
	margin-top: 20px;
}

.container .content.contentEnglish {
	display: block;
}

.check {
	position: relative;
	width: 50px;
}

.check:before {
	background: #333;
	border-radius: 25px;
	content: '';
	height: 25px;
	margin-top: -5px;
	position: absolute;
	width: 50px;
}

.check:checked:before {
	background: #00a1ff;
}

.check:after {
	background: #fff;
	border: 2px solid #333;
	border-radius: 25px;
	box-sizing: border-box;
	content: '';
	height: 25px;
	left: 0px;
	margin-top: -5px;
	position: absolute;
	transition: 0.25s;
	width: 25px;
}

.check:checked:after {
	border: 2px solid #00a1ff;
	left: 25px;
}

.check:checked ~ .content.contentEnglish {
	display: none;
}

.check:checked ~ .content.contentEspañol {
	display: block;
}

.en {
	color: #333;
}

.es {
	color: #00a1ff;
}